In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from src.io_utils import load_data,  coerce_numeric


df = coerce_numeric(load_data('data/library_loans.csv'))
df.head(3)

,loan_id,checkout_date,branch,genre,item_type,patron_age_group,loan_days,returned_date,overdue_days,fine_amount
0,L0005,2025-08-05,Väster,Romantik,E-bok,Vuxen,18,2025-08-23,0.0,NaN
1,L0041,2025-08-30,Öster,Biografi,Tidskrift,Vuxen,23,2025-09-22,1.0,2.935475
2,L0091,2025-03-19,Väster,Biografi,E-bok,Vuxen,23,2025-04-11,2.0,13.479296

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128 entries, 0 to 127
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   loan_id           128 non-null    object
 1   checkout_date     128 non-null    datetime64[ns]
 2   branch            125 non-null    object
 3   genre             122 non-null    object
 4   item_type         127 non-null    object
 5   patron_age_group  127 non-null    object
 6   loan_days         128 non-null    int64
 7   returned_date     112 non-null    datetime64[ns]
 8   overdue_days      118 non-null    float64
 9   fine_amount       116 non-null    float64
dtypes: datetime64[ns](2), float64(2), int64(1), object(5)
memory usage: 10.1+ KB

In [ ]:
df[['checkout_date', 'returned_date']].describe()

             checkout_date                  returned_date
count                  128                            112
mean   2025-05-19 15:22:30  2025-06-13 11:47:08.571428608
min    2025-01-05 00:00:00            2025-01-07 00:00:00
25%    2025-02-24 12:00:00            2025-03-20 18:00:00
50%    2025-05-24 00:00:00            2025-06-26 00:00:00
75%    2025-08-02 12:00:00            2025-08-24 18:00:00
max    2025-10-01 00:00:00            2025-10-29 00:00:00