### STRINGS

<!-- STRINGS -->

In [11]:
first_name = 'Sayed Jawid'
last_name = 'Mortazawi'
age = 29

full_name = f'Hej, jag heter {first_name.title()} {last_name.title()}, and I am {str(age)} years old.'
print(full_name)
print(type(age))
print(age * 2)

Hej, jag heter Sayed Jawid Mortazawi, and I am 29 years old.
<class 'int'>
58

In [22]:
name = 'Ali Mortazawi'
print(name[1:-1])

li Mortazaw

In [34]:
text = '                hello     world         '
print(text.upper())
print(text.title())
print(text.lower())
# print(text.strip())

result = ' '.join(text.split())
print(f'result: {result.title()}')

                HELLO     WORLD
                Hello     World
                hello     world
result: Hello World

In [49]:
ost = 'cheddar, hushåll, port salut, präst'
ost.title()

oster = ost.split(',')
print(oster)

['cheddar', ' hushåll', ' port salut', ' präst']

## IF SATSER

#### Jämförelseoprationer
- == Lika med
- != Inte Lika med
- ">" Större än 
- "<" Mindre än 
- ">=" Större eller Lika
- "<=" Mindre eller Lika

In [52]:
age = int(input('Hej och välkomen till mitt program. '
'Var snäll och skriv din ålder: \t'))

if age < 13:
    print('Du är ugn')
elif age < 18:
    print('Du är tonåriing!')
elif age >= 18:
    print('Du är vuxen!')

Du är tonåriing!

In [62]:

age = int(input('Hej och välkomen till mitt program. '
'Var snäll och skriv din ålder:\n'))


if age <= 0:
    print('Var snäll och skriv i rätt format!')
    
elif age < 13:
    print('Du är ugn')
elif age < 18:
    print('Du är tonåriing!')
elif 18 <= age <= 66:
    print('Du är vuxen!')
else:
    print('Du är pansionär!')

Du är pansionär!

In [77]:
import time

seconds = 0

while True:
    redo = input('Are you ready? (y/n) ')
    if redo.lower() == 'y':
        print('Start...')
        while True:
            print(f'Time: {seconds} seconds', end='\r')  # \r skriver över samma rad
            # time.sleep(1)
            seconds += 1
            # Fråga användaren om hen vill gå in i break mode
            if input("\nType 'break' to stop timer: ").lower() == 'break':
                print(f"Timer stopped at {seconds} seconds!")
                break
        break  # avsluta y-loopen efter break
    elif redo.lower() == 'n':
        print("Exiting program.")
        break

Start...
Timer stopped at 9 seconds!

In [14]:
import statistics as st
import numpy as np
# import pandas as pd

numbers = [10, 20, 3, 40, 50, 60]
print(st.mean(numbers))
print(st.median(numbers))
print('==================')
print(np.mean(numbers))
print(np.median(numbers))

30.5
30.0
==================
30.5
30.0

In [17]:
extra_numbers = [ 70, 80, 100]
all_numbers = numbers + extra_numbers
# print(all_numbers)

names = ['Joakim', 'Hans', 'Jeanette', 'Emil']
ages = [38, 40, 37, 35]

matrix = [names, ages]
print(matrix)

[['Joakim', 'Hans', 'Jeanette', 'Emil'], [38, 40, 37, 35]]

In [26]:
print(matrix[0][2], 'with age:', matrix[1][2])
print(matrix[1][2])

Jeanette with age: 37
37

### for_loops

In [ ]:
superheroes = [
    "Spider-Man",
    "Wonder Woman",
    "Batman",
    "Iron Man",
    "Captain America",
    "Black Panther",
    "Hulk"
    "Thor",
    "Flash",
    "Superman"
]

powers = [
    "Super strength, agility, spider-sense",
    "Super strength, flight, combat skills",
    "Genius intellect, martial arts, gadgets",
    "Genius intellect, powered armor suit",
    "Enhanced strength, agility, shield mastery",
    "Enhanced strength, agility, advanced technology",
    "Super strength, invulnerability, regeneration",
    "Godly strength, lightning manipulation, flight",
    "Super speed, time manipulation",
    "Super strength, flight, heat vision, invulnerability"
]

for powers, superheroes in zip(powers, superheroes):
    print(f'{superheroes}: {powers}')
print('===========================================')

Spider-Man: Super strength, agility, spider-sense
Wonder Woman: Super strength, flight, combat skills
Batman: Genius intellect, martial arts, gadgets
Iron Man: Genius intellect, powered armor suit
Captain America: Enhanced strength, agility, shield mastery
Black Panther: Enhanced strength, agility, advanced technology
Hulk: Super strength, invulnerability, regeneration
Thor: Godly strength, lightning manipulation, flight
Flash: Super speed, time manipulation
Superman: Super strength, flight, heat vision, invulnerability
===========================================

In [16]:
# Lists

b = ['saw', 'small', 'he', 'foxes', 'six']
b.sort(key=len)
print(b)

['he', 'saw', 'six', 'small', 'foxes']

In [23]:
# dicts

d1 = {'a': 'some value', 'b': [1,2,3,4]}
d1
d1[7] = 'an integer' # add a new key and value in dict
d1
d1['b']
d1['c'] = 'company'
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 'c': 'company'}

In [25]:
'b' in d1

True

In [26]:
d1['dummy'] = 'another value'
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 'c': 'company',
 'dummy': 'another value'}

In [30]:
# del d1['b']
d1

{'a': 'some value', 7: 'an integer', 'c': 'company', 'dummy': 'another value'}

In [38]:
print(f'List of keys: {list(d1.keys())}') # a list of keys in dic as list
print(f'List of values: {list(d1.values())}')

List of keys: ['a', 7, 'c', 'dummy']
List of values: ['some value', 'an integer', 'company', 'another value']

In [ ]:
print(list(d1.items())) # a list of all items both keys and values

[('a', 'some value'), (7, 'an integer'), ('c', 'company'), ('dummy', 'another value')]

In [42]:
for k, v in d1.items():
    print(f'{k}: {v}')

a: some value
7: an integer
c: company
dummy: another value

In [44]:
# update the value in dict

d1.update({'a': 'foo', 7: 12})
d1

{'a': 'foo', 7: 12, 'c': 'company', 'dummy': 'another value'}