In [ ]:
magicians = ['alice', 'david', 'carolina']

for magician in magicians:
    print(f'{magician.title()}, that was a great trick!')
    print(f"I can't wait to see your next trick, {magician.title()}.\n")

print('Thank you everyone. That was a great magic show!')

In [ ]:
numbers = list(range(1, 6))
print(numbers)

In [1]:
squares = []
for value in range(1, 11):
    square = value ** 2
    squares.append(square)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [1]:
squares = []
for i in range(1,11):
    i = i ** 2
    squares.append(i)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [2]:
squares = [value ** 2 for value in range(1, 11) if value % 2 == 0]
print(squares)

[4, 16, 36, 64, 100]

In [3]:
# Counting to Twenty: Use a for loop 
# to print the numbers from 1 to 20, inclusive.




for number in range(1, 21):
    print(number, end=" ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20

In [4]:
squares = [value ** 2 for value in range(1, 11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [5]:
value = [i for i in range(1,21)]
print(value)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

##### One Million: Make a list of the numbers from one to one million, and then use a for loop to print the numbers. (If the output is taking too long, stop it by pressing ctrl-C or by closing the output window.)

In [3]:
one_million = [i for i in range(1, 1_000_001)]
print(f'First 10 values: {one_million[:10]}')
print(f'Last 10 values: {one_million[-10:]}')
print(f'Total number: {len(one_million)}')

First 10 values: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Last 10 values: [999991, 999992, 999993, 999994, 999995, 999996, 999997, 999998, 999999, 1000000]
Total number: 1000000

Summing a Million: Make a list of the numbers from one to one million, and then use min() and max() to make sure your list actually starts at one and ends at one million. Also, use the sum() function to see how quickly Python can add a million numbers.

In [5]:
import time

start = time.time()

numbers = [i for i in range(1, 1_000_001)]
total = sum(numbers)

end = time.time()

print(f'Min value in this list is: {min(numbers)}')
print(f'Max value in this list is: {max(numbers)}')
print(f'The sum of this list is: {sum(numbers)}')
print(f'Calculation time: {end - start:.5f} seconds')

Min value in this list is: 1
Max value in this list is: 1000000
The sum of this list is: 500000500000
Calculation time: 0.07120 seconds

Odd Numbers: Use the third argument of the range() function to make a list of the odd numbers from 1 to 20. Use a for loop to print each number.

In [6]:

numbers = [num for num in range(1, 21) if num % 2 != 0]
print(f'These are odd numbers: {numbers}')

These are odd numbers: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

 
Threes: Make a list of the multiples of 3 from 3 to 30. Use a for loop to 
print the numbers in your list.

Du ska skapa en lista som innehåller alla tal som är delbara med 3.
Listan börjar på 3 och slutar på 30.
Exempel på vilka tal som ska vara med: 3, 6, 9, …, 30.

In [7]:
numbers = [num for num in range(3, 31) if num % 3 == 0]
print(f'Threes list: {numbers}')

Threes list: [3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [12]:
# Vanligt for loop, ganska mycket kode. 
numbers = []
for num in range(3, 31):
    if num % 3 == 0:
        numbers.append(num)
print(f'Threes list: {numbers}')

Threes list: [3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

Cubes: A number raised to the third power is called a cube. For example, the cube of 2 is written as 2**3 in Python. Make a list of the first 10 cubes (that is, the cube of each integer from 1 through 10), and use a for loop to print out the value of each cube.

In [10]:
cubes = [num ** 3 for num in range(1, 11)]
print(f'The Cube pwer to 3: {cubes}')

The Cube pwer to 3: [1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

 Cube Comprehension: Use a list comprehension to generate a list of the first 10 cubes

In [11]:
cubes = [num ** 3 for num in range(1, 11) ]
print(f'The Cube pwer to 3: {cubes}')

The Cube pwer to 3: [1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [12]:
my_list = [num for num in range(1, 11) if num % 2 == 0]
print(my_list)

[2, 4, 6, 8, 10]